.list{
  li{
    @extend .relative;
    &:after{
      @extend .pseudo;
      top: 0;
    }
  }
  &-check{
    li{
      padding-left: 30px;
      &:after{
        top: 5px;
        left: 0;
        width: 18px;
        height: 14px;
      }
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
    &-green{
      @extend .list-check;
      li{
        &:after{
          @include bg("../img/check.png");
        }
      }
    }
  }
  // @include resp-max(sm){
  //   text-align: center;
  //   margin-bottom: 30px;
  //   &:after{
  //     left: 50%;
  //   }
  //   &-check{
  //     li{
  //       padding-top: 40px;
  //       &:after{
  //         margin-left: -18.5px;
  //       }
  //     }
  //   }
  // }
  @include resp-min(sm){
    //margin-bottom: 15px;
    
    &-check{
      li{
        
      }
    }
  }
}