extends includes/layout
block title
	title Main Page
block content
	section.vsection.greeting
		.vcontainer
			.vrow
				.vak-xs-12.vak-md-7
					p Культовый тренинг по достижению сверхрезультатов <br class="vhidden-xs"> от самого популярного дуэта тренеров в СНГ*
					h1.vtitle-big <span class="color-main vtitle-clone-k">К</span>онтекст
					h2.vtitle-small Программа по <span class="black">раскрытию потенциала</span> для достижения целей в личной жизни, карьере, деньгах и здоровье
					.italic.greeting-names
						p <span class="color-main">*</span> <span class="bold">Владимир Герасичев</span> - Эксперт в личной эффективности, лидерстве и командообразовании. Автор 2-х фильмов и книги-бестселлера
						p <span class="color-main">*</span> <span class="bold">Арсен Рябуха</span> - Профессионал в области межличностных отношений и переговоров. Консультирует ТОП-менеджмент крупнейших брендов СНГ
					p.greeting-title-small Даты проведения: <br class="vvisible-xs"><span class="black">28, 29, 20 апреля, Киев</span>
					+button("vbtn vbtn-effect-shutter-vertical-out vbtn-main-second", "#modalform") Забронировать место на тренинг
				.vak-xs-12.vak-md-5
					.man-wrapper
						.man.man-1: img(src="img/man1.png")
						.man.man-2: img(src="img/man2.png")
	section.vsection.block-video-small-section
		.vcontainer
			.vrow.flex-just-cont-end
				.block-video-small
					.block-video-small-inner
						iframe(src="https://www.youtube.com/embed/hsvF4Tqy6hU" frameborder="0" allowfullscreen)
					.block-video-arrow.light
						p О тренинге <span class="black">«Контекст»</span><br> за 2 минуты
				.vak-xs-12.vak-md-6
					.block-video-small-text
						h3.vtitle.vtitle-letter.vtitle-letter-change Разбудите подлинную силу внутри себя
						p На тренинге <span class="black">«Контекст»</span> Вы не просто осознаете кто Вы есть на самом деле — Вы примите решение создавать новую реальность вокруг себя. Раскроете свою миссию и разбудите невероятную силу внутри себя, для достижения потрясающих результатов в карьере, деньгах, здоровье и личной жизни. Вы наконец со 100% ясностью осознаете, что Вами движет и что мотивирует и создадите прочный фундамент для мощного прорыва в своей жизни.
	section.vsection
		.vcontainer
			h3.vtitle.vtitle-letter.vtitle-letter-change Как достигаются сверхрезультаты?
			p.vtitle-small.vtitle-small-text На самом деле, есть всего <span class="black">два ключевых способа:</span>
			.vrow
				.vak-xs-12.vak-md-6.icon-text-wrap
					.icon-text
						.icon-text-header
							.icon-text-image: img(src="img/306831.svg")
							p.icon-text-title Медленно и самому
						.icon-text-body
							p Вы в силах достигнуть чего угодно самостоятельно - начиная от крупной покупки Вашей мечты до открытия прибыльного бизнеса. Но помните, что это будет стоить Вам набитых шишек и синяков, тысячи мелких ошибок и потери драгоценного времени… Стоит ли оно того?
				.vak-xs-12.vak-md-6.icon-text-wrap
					.icon-text
						.icon-text-header
							.icon-text-image: img(src="img/icon-timing.png")
							p.icon-text-title С наставником, в правильном окружении
						.icon-text-body
							p Но что если мы скажем Вам, что есть более простой и главное быстрый способ добиться всего, о чем Вы мечтаете?... Более того - на это понадобиться всего 3 дня. За эти дни Вы заложите мощный фундамент и поменяете свои ограничивающие убеждения, так что потом любые результаты будут достигаться легко, быстро и «в кайф»
	+review("img/orlova.png", "Ольга Орлова", "Актриса, певица", "facebook.com/olga.orlova.927")
		p Получив эти знания, ты понимаешь , что результат твоей жизни - это поле твоей ответственности. Не в теории, а в ощущениях.
		p Благодаря возможности видеть ситуации других людей и переносить ее на себя - удается вынести гораздо больше, чем ожидаешь, и ты понимаешь, что где-то ты это уже видел, причем в своей жизни.
		p Это тренинг для тех, кто хочет большего, кто не боится и хочет работать над собой, чтобы быть сильнее и счастливее.
	section.vsection
		.vcontainer
			.question-wrapper
				.vrow.question-toggle
					.vak-xs-12.vak-md-6.question-toggle-image
						.question-toggle-image-inner: img(src="img/img1.png")
					.vak-xs-12.vak-md-6.question-toggle-text
						h3.vtitle.vtitle-letter В чем уникальность <br class="vhidden-xs vhidden-sm">тренинга «<span class="italic color-main-second">Контекст</span>»?
						.text-block
							p Это 3-дневная интенсивная программа с упором на практику и моментальное решение проблем. Никаких медитаций, сложных психологических приёмов и занятий по несколько месяцев. 
							p 3 дня — этого более чем достаточно, чтобы показать: в Вас спит невероятная сила и стоит только разбудить её, как любые вершины будут покорятся легко и быстро.		
				.vrow.question-toggle
					.vak-xs-12.vak-md-6.question-toggle-image
						.question-toggle-image-inner: img(src="img/img2.png")
					.vak-xs-12.vak-md-6.question-toggle-text
						h3.vtitle.vtitle-letter Что означает <span class="italic color-main-second">«контекст»</span> в названии этого тренинга?
						.text-block
							p Контекст — это в буквальном смысле всё, что Вас окружает. То, как Вы воспринимаете мир: смотрите на вещи и реагируете на события.
							p На тренинге мы вместе описываем контекст Вашей жизни, а затем создаем на его месте новый. Вы разбираетесь, что Вам мешало раньше и учитесь по-новому управлять своей жизнью
				.vrow.question-toggle
					.vak-xs-12.vak-md-6.question-toggle-image
						.question-toggle-image-inner: img(src="img/img3.png")
					.vak-xs-12.vak-md-6.question-toggle-text
						h3.vtitle.vtitle-letter А менять контекст не опасно?
						.text-block
							p Под присмотром опытных тренеров - нет. На тренинге не будет каких-то сложных вещей, манипулирующих Вашим сознанием и прочее в таком духе. Задача тренеров - «раскопать» все ограничивающие убеждения и вредные программы прошлого, которые не дают Вам достигать своих целей… И заменить их (убеждения и программы) на новые - те, что дают энергию двигаться вперед и создавать жизнь своей мечты.
			.vbtn-single.text-center
				+button("vbtn vbtn-effect-skew vbtn-main-second", "#modalform") Разбудить в себе силу для сверхрезультатов
	section.vsection
		.vcontainer
			h3.vtitle.vtitle-letter.vtitle-letter-change Кто получит реальный результат от этого тренинга:
			.vrow
				.vak-xs-12.vak-sm-6.vak-lg-3.icon-only-wrap
					.icon-only-header
						.icon-only-image: img(src="img/icon-man-solo.png")
						p.icon-only-title Для <span class="color-main">предпринимателей</span> и <span class="color-main">собственников</span>
					p.icon-only-body Которые достигли результатов в бизнесе, хотят развивать его дальше и совмещать с личной жизнью 
				.vak-xs-12.vak-sm-6.vak-lg-3.icon-only-wrap
					.icon-only-header
						.icon-only-image: img(src="img/icon-men.png")
						p.icon-only-title Для <span class="color-main">ТОП-менеджеров</span> и <span class="color-main">наемных сотрудников</span>
					p.icon-only-body Которые чувствуют, что начинают «выгорать» и хотят разобраться, чего они хотят от жизни на самом деле
				.vak-xs-12.vak-sm-6.vak-lg-3.icon-only-wrap
					.icon-only-header
						.icon-only-image: img(src="img/icon-clock.png")
						p.icon-only-title Для тех, кому вечно <span class="color-main">не хватает времени</span>
					p.icon-only-body Планы наполеоновские,  энергии много, но есть одна проблема - усилия расходуются неэффективно и времени постоянно ни на что не хватает
				.vak-xs-12.vak-sm-6.vak-lg-3.icon-only-wrap
					.icon-only-header
						.icon-only-image: img(src="img/icon-shturval.png")
						p.icon-only-title Для тех, кто <span class="color-main">еще не нашел себя</span>
					p.icon-body И вроде бы всё хорошо, но есть стойкое чувство - «что-то не то». Тем ли я занимаюсь, живу ли так, как хочу - на эти и другие важные вопросы мы найдем ответы на тренинге
	section.vsection.ovh.review-video-wrap
		.vcontainer
			.review-header.review-header-video
				.vrow.review-header-inner.review-header-video-inner
					.vak-xs-12.vak-md-6
						.review-image: img(src="img/ruslan.png")
						.review-inf
							p.review-name Руслан Раджапов
							p.review-inf-pos CEO и управляющий партнёр сети ресторанов Correa’s 
					.vak-xs-12.vak-md-6
						p.review-title «За два месяца обьем продаж вырос до 100 тыс. гривен»
				.vrow
					.vak-xs-12.vak-md-6.review-video-inner
						iframe(src="https://www.youtube.com/embed/hsvF4Tqy6hU" frameborder="0" allowfullscreen)
					.vak-xs-12.vak-md-6.text-block.italic
						p «Я занимаюсь архитектурным проектированием. Во время коучинга я получил много полезной информации и знаний, сумел сделать посадочную страницу своего проекта, а объем моих продаж за эти два месяца вырос до 100 тыс. грн.
						p Понравилось то, что подача материала очень понятная и доступная. Сотрудники LiftMarketing отзывчивы, а бизнес-завтраки с Андреем и Владом очень помогли разложить все свои мысли и идеи “по полочкам”..
						p Но самое главное, я решился на создание архитектурной мастерской - без тренинга я бы задумался об этом не раньше чем через год»
block dev
	//- 	+button("vbtn vbtn-effect-shutter-vertical-out vbtn-main", "#modalform") Button_text_big1
	//- +button("vbtn vbtn-effect-shutter-vertical-out vbtn-main", "#modalvideo")(data-video="https://www.youtube.com/embed/Iutk7AboLZI" data-source="youtube" data-title="Уроки JavaScript Практика #3 Пишем свой CSS генератор") Button_text_big
	.vmodal#modalform
		.vmodal-dialog.vmodal-dialog-default.vmodal-dialog-center
			button(type="button" class="vmodal-close" data-close="vmodal") &times;
			.vmodal-box
				p.vmodal-title Отправить заявку
				.vmodal-body
					form(action="" class="vmain-form")
						.vmain-form-row.vmain-form-input-wrap
							input(type="text" placeholder="Имя")
							span.vmain-form-line
						.vmain-form-row.vmain-form-input-wrap
							input(type="email" placeholder="E-mail")
							span.vmain-form-line
						.vmain-form-row.vmain-form-input-wrap
							input(type="text" placeholder="Телефон")
							span.vmain-form-line
						.vmain-form-row.vmain-form-btn-wrap
							button.vbtn.vbtn-effect-bounce-top(type="submit") Получить!
	.vmodal.vmodal-transparent#modalvideo
		.vmodal-dialog.big
			button(type="button" class="vmodal-close" data-close="vmodal") &times;
			.vmodal-box
				p.vmodal-title
				.vmodal-body
					.vmodal-video
					// +button("vbtn vbtn-effect-shutter-vertical-out vbtn-main", "#modalform") Button_text_big1