.vtitle{
	margin-bottom: 45px;
	line-height: 1;
	font-size: 30px;
	@include fs('vtitle');
	@extend .bold;
	&-letter{
		line-height: 1.1;
		&:first-letter{
			font-size: 120%;
		}
		&-change:first-letter{
			color: setColor(main);
		}
	}
	&-small{
		line-height: 1.2;
		margin: 12px 0;
		font-size: 17px;
		@include fs('vtitle-small');
		@include resp-max(md){
			&-text{
				margin-bottom: 30px;
			}
		}
	}
	&-big{
		line-height: 1;
		font-size: 60px;
		margin: 25px 0;
		@include fs('vtitle-big');
		@extend .bold;
		@include resp-min(lg){
			@include resp-max(bigLg){
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
	&-clone{
		&-k{
			position: relative;
			&:after{
				@extend .pseudo;
				left: 5px;
				top: 5px;
				width: 33px;
				height: 31px;
				@include bg('../img/k-clone.png');
			}
		}
	}
	&-center{
		margin-bottom: 45px;
	}
	&-center &{
		margin-bottom: 15px;
	}
	@include resp-min(xs){
		&-clone-k:after{
			left: 7px;
			top: 10px;
			width: 52px;
			height: 50px;
		}
	}
	// @include resp-min(sm){
	// 	&-clone-k:after{
	// 		left: 9px;
	// 		top: 10px;
	// 		width: 64px;
	// 		height: 61px;
	// 	}
	// }

	@include resp-min(md){
		&-letter:first-letter{
			font-size: 60px;
		}
	}
	@include resp-min(lg){
		&-clone-k:after{
			left: 5px;
			width: 40px;
			height: 33px;
		}
	}
	@include resp-min(bigLg){
		&-clone-k:after{
			left: 9px;
			width: 64px;
			height: 61px;
		}
	}
}
.text-block{
	p:not(:last-child){
		margin-bottom: 15px;
	}
}
.text{
	&-tu{
		text-transform: uppercase;
	}
	&-du{
		text-decoration: underline;
	}
	&-dn{
		text-decoration: none;
	}
	&-center{
	 text-align: center;
	}
	&-left{
	 text-align: left;
	}
	&-right{
	 text-align: right;
	}
}
@each $br-name, $br-value in $breakpoints{
  // @include resp-max($br-name){
  //   .max-#{$br-name}-center{
  //     text-align: center;
  //   }
  // }
  @include resp-min($br-name){
    .min-#{$br-name}-right{
      text-align: right;
    }
  }
}